<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">
    <Properties>
        <Property name="APP_LOG_ROOT_DIR">./logs</Property>
        <Property name="ARCHIVE_LOG_DIR">archived</Property>
        <Property name="RAW_LOG_PATTERN">
            %d{yyyy-MM-dd_HH:mm:ss} %-5p %c:%L - %m%n%throwable
        </Property>

        <Property name="COLOR_LOG_PATTERN">
            %highlight{%d{yyyy-MM-dd_HH:mm:ss} %-5p %c:%L - %m%n%throwable}
        </Property>
    </Properties>

    <Appenders>
        <Console name="console" target="SYSTEM_OUT" follow="true">
            <LevelRangeFilter minLevel="FATAL" maxLevel="TRACE" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="${COLOR_LOG_PATTERN}"/>
        </Console>

        <RollingFile name="debugLog" fileName="${APP_LOG_ROOT_DIR}/debug.log"
                     filePattern="${APP_LOG_ROOT_DIR}/${ARCHIVE_LOG_DIR}/debug-%d{yyyy-MM-dd}-%i.log">
            <LevelRangeFilter minLevel="FATAL" maxLevel="DEBUG" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="${RAW_LOG_PATTERN}"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true" />
                <SizeBasedTriggeringPolicy size="10MB" />
            </Policies>
            <!-- Max 10 files will be created everyday -->
            <DefaultRolloverStrategy max="10">
                <Delete basePath="${APP_LOG_ROOT_DIR}" maxDepth="10">
                    <!-- Delete all files older than 30 days -->
                    <IfLastModified age="90d" />
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>

        <RollingFile name="traceLog" fileName="${APP_LOG_ROOT_DIR}/trace.log"
                     filePattern="${APP_LOG_ROOT_DIR}/${ARCHIVE_LOG_DIR}/trace-%d{yyyy-MM-dd}-%i.log" >
            <LevelRangeFilter minLevel="FATAL" maxLevel="TRACE" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="${RAW_LOG_PATTERN}"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true" />
                <SizeBasedTriggeringPolicy size="10MB" />
            </Policies>
            <!-- Max 10 files will be created everyday -->
            <DefaultRolloverStrategy max="10">
                <Delete basePath="${APP_LOG_ROOT_DIR}" maxDepth="10">
                    <!-- Delete all files older than 30 days -->
                    <IfLastModified age="90d" />
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>

        <RollingFile name="infoLog" fileName="${APP_LOG_ROOT_DIR}/info.log"
                     filePattern="${APP_LOG_ROOT_DIR}/${ARCHIVE_LOG_DIR}/info-%d{yyyy-MM-dd}-%i.log" >
            <LevelRangeFilter minLevel="FATAL" maxLevel="INFO" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="${RAW_LOG_PATTERN}"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true" />
                <SizeBasedTriggeringPolicy size="10MB" />
            </Policies>
            <!-- Max 10 files will be created everyday -->
            <DefaultRolloverStrategy max="10">
                <Delete basePath="${APP_LOG_ROOT_DIR}" maxDepth="10">
                    <!-- Delete all files older than 30 days -->
                    <IfLastModified age="90d" />
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>

        <RollingFile name="warnLog" fileName="${APP_LOG_ROOT_DIR}/warn.log"
                     filePattern="${APP_LOG_ROOT_DIR}/${ARCHIVE_LOG_DIR}/warn-%d{yyyy-MM-dd}-%i.log" >
            <LevelRangeFilter minLevel="FATAL" maxLevel="WARN" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="${RAW_LOG_PATTERN}"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true" />
                <SizeBasedTriggeringPolicy size="10MB" />
            </Policies>
            <!-- Max 10 files will be created everyday -->
            <DefaultRolloverStrategy max="10">
                <Delete basePath="${APP_LOG_ROOT_DIR}" maxDepth="10">
                    <!-- Delete all files older than 30 days -->
                    <IfLastModified age="90d" />
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>

        <RollingFile name="errorLog" fileName="${APP_LOG_ROOT_DIR}/error.log"
                     filePattern="${APP_LOG_ROOT_DIR}/${ARCHIVE_LOG_DIR}/error-%d{yyyy-MM-dd}-%i.log" >
            <LevelRangeFilter minLevel="FATAL" maxLevel="ERROR" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="${RAW_LOG_PATTERN}"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true" />
                <SizeBasedTriggeringPolicy size="10MB" />
            </Policies>
            <!-- Max 10 files will be created everyday -->
            <DefaultRolloverStrategy max="10">
                <Delete basePath="${APP_LOG_ROOT_DIR}" maxDepth="10">
                    <!-- Delete all files older than 30 days -->
                    <IfLastModified age="90d" />
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>
    </Appenders>

    <Loggers>
<!--     thẻ Logger này để cấu hình log cho các class trong package it.must.be.funny-->
        <Logger name="it.must.be.funny" level="info" additivity="false">
            <AppenderRef ref="console"/>
            <AppenderRef ref="infoLog"/>
        </Logger>
<!--        thẻ root này để cấu hình cho tất cả log bao gồm cả thư viện nhưng sẽ ưu tiên cho thẻ logger hơn-->
        <Root level="info">
            <AppenderRef ref="console"/>
            <AppenderRef ref="infoLog"/>
        </Root>
    </Loggers>
</Configuration>